In [1]:
import os
import cv2
import math
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, fbeta_score
from keras import optimizers
from keras import backend as K
from keras.models import Sequential, Model, load_model
from keras import applications
from keras.preprocessing.image import ImageDataGenerator
from keras.callbacks import LearningRateScheduler, EarlyStopping, ReduceLROnPlateau, ModelCheckpoint
from keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPool2D, Activation, BatchNormalization, GlobalAveragePooling2D, Input

# Set seeds to make the experiment more reproducible.
from tensorflow import set_random_seed
from numpy.random import seed
set_random_seed(0)
seed(0)

%matplotlib inline
sns.set(style="whitegrid")
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [2]:
train = pd.read_csv('../input/imet-2019-fgvc6/train.csv')
labels = pd.read_csv('../input/imet-2019-fgvc6/labels.csv')
test = pd.read_csv('../input/imet-2019-fgvc6/sample_submission.csv')

train["attribute_ids"] = train["attribute_ids"].apply(lambda x:x.split(" "))
train["id"] = train["id"].apply(lambda x: x + ".png")
test["id"] = test["id"].apply(lambda x: x + ".png")

print('Number of train samples: ', train.shape[0])
print('Number of test samples: ', test.shape[0])
print('Number of labels: ', labels.shape[0])
display(train.head())
display(labels.head())

Number of train samples:  109237
Number of test samples:  7443
Number of labels:  1103

                     id              attribute_ids
0  1000483014d91860.png            [147, 616, 813]
1  1000fe2e667721fe.png        [51, 616, 734, 813]
2  1001614cb89646ee.png                      [776]
3  10041eb49b297c08.png  [51, 671, 698, 813, 1092]
4  100501c227f8beea.png  [13, 404, 492, 903, 1093]

   attribute_id          attribute_name
0             0        culture::abruzzi
1             1     culture::achaemenid
2             2         culture::aegean
3             3         culture::afghan
4             4  culture::after british

### Model parameters

In [3]:
# Model parameters
BATCH_SIZE = 128
HEIGHT = 156
WIDTH = 156
CANAL = 3
N_CLASSES = labels.shape[0]

In [4]:
train_datagen=ImageDataGenerator(rescale=1./255)

train_generator=train_datagen.flow_from_dataframe(
    dataframe=train,
    directory="../input/imet-2019-fgvc6/train",
    x_col="id",
    y_col="attribute_ids",
    batch_size=BATCH_SIZE,
    shuffle=True,
    class_mode="categorical",
    target_size=(HEIGHT, WIDTH),
    subset='training')

test_datagen = ImageDataGenerator(rescale=1./255)

test_generator = test_datagen.flow_from_dataframe(  
        dataframe=test,
        directory = "../input/imet-2019-fgvc6/test",    
        x_col="id",
        target_size=(HEIGHT, WIDTH),
        batch_size=1,
        shuffle=False,
        class_mode=None)

Found 109237 images belonging to 1103 classes.
Found 7443 images.

### Model

In [5]:
def create_model(input_shape, n_out):
    input_tensor = Input(shape=input_shape)
    base_model = applications.Xception(weights=None, include_top=False,
                   input_tensor=input_tensor)

    x = GlobalAveragePooling2D()(base_model.output)
    x = Dropout(0.5)(x)
    final_output = Dense(n_out, activation='sigmoid', name='final_output')(x)
    model = Model(input_tensor, final_output)
    
    return model

In [6]:
weights_paths = ['../input/imet-xcecption-pretrained/Xcecption_fold1.h5', '../input/imet-xcecption-pretrained/Xcecption_fold2.h5', 
                 '../input/imet-xcecption-pretrained/Xcecption_fold3.h5', '../input/imet-xcecption-pretrained/Xcecption_fold4.h5', 
                 '../input/imet-xcecption-pretrained/Xcecption_fold5.h5']
model = create_model(input_shape=(HEIGHT, WIDTH, CANAL), n_out=N_CLASSES)
STEP_SIZE_TEST = test_generator.n//test_generator.batch_size
preds = np.empty((0, N_CLASSES))
n_folds = len(weights_paths)
threshold = 0.1

WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /opt/conda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

### Apply model to test set and output predictions

In [7]:
for weights_path in weights_paths:
    model.load_weights(weights_path)
    test_generator.reset()
    preds = model.predict_generator(test_generator, steps=STEP_SIZE_TEST) / n_folds

In [8]:
predictions = []
for pred_ar in preds:
    valid = []
    for idx, pred in enumerate(pred_ar):
        if pred > threshold:
            valid.append(idx)
    if len(valid) == 0:
        valid.append(np.argmax(pred_ar))
    predictions.append(valid)

In [9]:
filenames = test_generator.filenames
label_map = {train_generator.class_indices[k] : k for k in train_generator.class_indices}

results = pd.DataFrame({'id':filenames, 'attribute_ids':predictions})
results['id'] = results['id'].map(lambda x: str(x)[:-4])
results['attribute_ids'] = results['attribute_ids'].apply(lambda x: list(map(label_map.get, x)))
results["attribute_ids"] = results["attribute_ids"].apply(lambda x: ' '.join(x))
results.to_csv('submission.csv',index=False)
results.head(10)

                 id    attribute_ids
0  10023b2cc4ed5f68         1059 766
1  100fbe75ed8fd887             1039
2  101b627524a04f19              728
3  10234480c41284c6              776
4  1023b0e2636dcea8          322 954
5   1039cd6cf85845c  1092 13 405 903
6   103a5b3f83fbe88     1092 194 813
7  10413aaae8d6a9a2     1092 147 813
8  10423822b93a65ab              121
9  1052bf702cb099f7              188